/* ==========================================================================
	#Buttons
========================================================================== */
#pjWrapper .pjCpbBtnPrimary { border-color: #073163; color: #fff; text-transform: uppercase; 
	background: rgb(25,70,127);
	background: -moz-linear-gradient(top,  rgba(25,70,127,1) 0%, rgba(25,71,123,1) 3%, rgba(24,69,126,1) 5%, rgba(23,68,125,1) 13%, rgba(20,66,118,1) 37%, rgba(17,58,110,1) 66%, rgba(13,55,105,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(25,70,127,1)), color-stop(3%,rgba(25,71,123,1)), color-stop(5%,rgba(24,69,126,1)), color-stop(13%,rgba(23,68,125,1)), color-stop(37%,rgba(20,66,118,1)), color-stop(66%,rgba(17,58,110,1)), color-stop(100%,rgba(13,55,105,1)));
	background: -webkit-linear-gradient(top,  rgba(25,70,127,1) 0%,rgba(25,71,123,1) 3%,rgba(24,69,126,1) 5%,rgba(23,68,125,1) 13%,rgba(20,66,118,1) 37%,rgba(17,58,110,1) 66%,rgba(13,55,105,1) 100%);
	background: -o-linear-gradient(top,  rgba(25,70,127,1) 0%,rgba(25,71,123,1) 3%,rgba(24,69,126,1) 5%,rgba(23,68,125,1) 13%,rgba(20,66,118,1) 37%,rgba(17,58,110,1) 66%,rgba(13,55,105,1) 100%);
	background: -ms-linear-gradient(top,  rgba(25,70,127,1) 0%,rgba(25,71,123,1) 3%,rgba(24,69,126,1) 5%,rgba(23,68,125,1) 13%,rgba(20,66,118,1) 37%,rgba(17,58,110,1) 66%,rgba(13,55,105,1) 100%);
	background: linear-gradient(to bottom,  rgba(25,70,127,1) 0%,rgba(25,71,123,1) 3%,rgba(24,69,126,1) 5%,rgba(23,68,125,1) 13%,rgba(20,66,118,1) 37%,rgba(17,58,110,1) 66%,rgba(13,55,105,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19467f', endColorstr='#0d3769',GradientType=0 );
}
#pjWrapper .pjCpbBtnPrimary:hover { border-color: #073163; color: #fff; 
	background: rgb(13,55,105);
	background: -moz-linear-gradient(top,  rgba(13,55,105,1) 0%, rgba(17,58,110,1) 34%, rgba(20,66,118,1) 63%, rgba(23,68,125,1) 87%, rgba(24,69,126,1) 95%, rgba(25,71,123,1) 97%, rgba(25,70,127,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(13,55,105,1)), color-stop(34%,rgba(17,58,110,1)), color-stop(63%,rgba(20,66,118,1)), color-stop(87%,rgba(23,68,125,1)), color-stop(95%,rgba(24,69,126,1)), color-stop(97%,rgba(25,71,123,1)), color-stop(100%,rgba(25,70,127,1)));
	background: -webkit-linear-gradient(top,  rgba(13,55,105,1) 0%,rgba(17,58,110,1) 34%,rgba(20,66,118,1) 63%,rgba(23,68,125,1) 87%,rgba(24,69,126,1) 95%,rgba(25,71,123,1) 97%,rgba(25,70,127,1) 100%);
	background: -o-linear-gradient(top,  rgba(13,55,105,1) 0%,rgba(17,58,110,1) 34%,rgba(20,66,118,1) 63%,rgba(23,68,125,1) 87%,rgba(24,69,126,1) 95%,rgba(25,71,123,1) 97%,rgba(25,70,127,1) 100%);
	background: -ms-linear-gradient(top,  rgba(13,55,105,1) 0%,rgba(17,58,110,1) 34%,rgba(20,66,118,1) 63%,rgba(23,68,125,1) 87%,rgba(24,69,126,1) 95%,rgba(25,71,123,1) 97%,rgba(25,70,127,1) 100%);
	background: linear-gradient(to bottom,  rgba(13,55,105,1) 0%,rgba(17,58,110,1) 34%,rgba(20,66,118,1) 63%,rgba(23,68,125,1) 87%,rgba(24,69,126,1) 95%,rgba(25,71,123,1) 97%,rgba(25,70,127,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d3769', endColorstr='#19467f',GradientType=0 );
}

#pjWrapper .pjCpbBtnSecondary { border-color: #6789af; color: #6789af; 
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(253,253,253,1) 27%, rgba(249,247,248,1) 50%, rgba(245,241,240,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(27%,rgba(253,253,253,1)), color-stop(50%,rgba(249,247,248,1)), color-stop(100%,rgba(245,241,240,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(253,253,253,1) 27%,rgba(249,247,248,1) 50%,rgba(245,241,240,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(253,253,253,1) 27%,rgba(249,247,248,1) 50%,rgba(245,241,240,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(253,253,253,1) 27%,rgba(249,247,248,1) 50%,rgba(245,241,240,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(253,253,253,1) 27%,rgba(249,247,248,1) 50%,rgba(245,241,240,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f1f0',GradientType=0 );
}
#pjWrapper .pjCpbBtnSecondary:hover { border-color: #073163; color: #073163; 
	background: rgb(245,241,240);
	background: -moz-linear-gradient(top,  rgba(245,241,240,1) 0%, rgba(249,247,248,1) 50%, rgba(253,253,253,1) 73%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,241,240,1)), color-stop(50%,rgba(249,247,248,1)), color-stop(73%,rgba(253,253,253,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top,  rgba(245,241,240,1) 0%,rgba(249,247,248,1) 50%,rgba(253,253,253,1) 73%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(245,241,240,1) 0%,rgba(249,247,248,1) 50%,rgba(253,253,253,1) 73%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(245,241,240,1) 0%,rgba(249,247,248,1) 50%,rgba(253,253,253,1) 73%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(245,241,240,1) 0%,rgba(249,247,248,1) 50%,rgba(253,253,253,1) 73%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f1f0', endColorstr='#ffffff',GradientType=0 );
}

/* ==========================================================================
	#pjCpbContainer
========================================================================== */
#pjWrapper .pjCpbContainer { color: #4c4e4d; }

/* ==========================================================================
	#pjCpbPanel
========================================================================== */
#pjWrapper .pjCpbPanel { border-color: #ded8d8; }

/* ==========================================================================
	#pjCpbHead
========================================================================== */
#pjWrapper .pjCpbContainer .pjCpbHead { border-color: #ded8d8; background: #f7f7f7; }
#pjWrapper .pjCpbHead .pjCpbTitle { color: #6789af; text-transform: uppercase; }

/* ==========================================================================
	#pjCpbLanguage
========================================================================== */
#pjWrapper .pjCpbBtnLanguage { border-color: #6789af; color: #6789af; 
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(253,253,253,1) 27%, rgba(249,247,248,1) 50%, rgba(245,241,240,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(27%,rgba(253,253,253,1)), color-stop(50%,rgba(249,247,248,1)), color-stop(100%,rgba(245,241,240,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(253,253,253,1) 27%,rgba(249,247,248,1) 50%,rgba(245,241,240,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(253,253,253,1) 27%,rgba(249,247,248,1) 50%,rgba(245,241,240,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(253,253,253,1) 27%,rgba(249,247,248,1) 50%,rgba(245,241,240,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(253,253,253,1) 27%,rgba(249,247,248,1) 50%,rgba(245,241,240,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f1f0',GradientType=0 );	
}

#pjWrapper .pjCpbLanguage.open .pjCpbBtnLanguage,
#pjWrapper .pjCpbBtnLanguage:active,
#pjWrapper .pjCpbBtnLanguage:hover { border-color: #073163; color: #073163; 
	background: rgb(245,241,240);
	background: -moz-linear-gradient(top,  rgba(245,241,240,1) 0%, rgba(249,247,248,1) 50%, rgba(253,253,253,1) 73%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,241,240,1)), color-stop(50%,rgba(249,247,248,1)), color-stop(73%,rgba(253,253,253,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top,  rgba(245,241,240,1) 0%,rgba(249,247,248,1) 50%,rgba(253,253,253,1) 73%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(245,241,240,1) 0%,rgba(249,247,248,1) 50%,rgba(253,253,253,1) 73%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(245,241,240,1) 0%,rgba(249,247,248,1) 50%,rgba(253,253,253,1) 73%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(245,241,240,1) 0%,rgba(249,247,248,1) 50%,rgba(253,253,253,1) 73%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f1f0', endColorstr='#ffffff',GradientType=0 );
}

#pjWrapper .pjCpbLanguageOptions { border-color: #ded8d8; background: #f7f7f7; }
#pjWrapper .pjCpbLanguageOptions a { color: #d02020; }
#pjWrapper .pjCpbLanguageOptions a:hover,
#pjWrapper .pjCpbLanguageOptions .pjCpbBtnActive { color: #073163; }

/* ==========================================================================
	#pjCpbBody
========================================================================== */
#pjWrapper .pjCpbBody { background: #fff; }

/* ==========================================================================
	#pjCpbForm
========================================================================== */
#pjWrapper .pjCpbDatePicker .input-group-addon,
#pjWrapper .pjCpbTimePicker .input-group-addon { color: #d02020; }
#pjWrapper .pjCpbDatePicker .input-group-addon:hover,
#pjWrapper .pjCpbTimePicker .input-group-addon:hover { color: #073163; }

/* ==========================================================================
	#pjCpbFormSort
========================================================================== */
#pjWrapper .pjCpbFormSort label { color: #073163; }
#pjWrapper .pjCpbFormSort .form-control { border-color: #bebabb; color: #535b5d; }
#pjWrapper .pjCpbFormSort .form-control:focus { border-color: #073163; -webkit-box-shadow: 0 0 10px rgba(7, 49, 99, .3); box-shadow: 0 0 10px rgba(7, 49, 99, .3); }

/* ==========================================================================
	#pjCpbFromPrev
========================================================================== */
#pjWrapper .pjCpbFromPrev { color: #4c4e4d; }
#pjWrapper .pjCpbFromPrev .btn-link { color: #d02020; }

/* ==========================================================================
	#pjCpbSpaces
========================================================================== */
#pjWrapper .pjCpbSpace { border-color: #ded8d8; background: #fff; }
#pjWrapper .pjCpbSpace .well { border: 1px solid #c1cedf; background: #edf0f5; }
#pjWrapper .pjCpbSpaceTitle { color: #073163; }
#pjWrapper .pjCpbSpaceTitle.disabled { color: #4c4e4d; }
#pjWrapper .pjCpbSpacePrice { color: #4c4e4d; }
#pjWrapper .pjCpbSpacePrice strong { color: #d02020; }
#pjWrapper .pjCpbSpaceDisabled .pjCpbSpacePrice { color: #4c4e4d; }
#pjWrapper .pjCpbSpace > p { color: #4c4e4d; }
#pjWrapper .pjCpbSavePrice { color: #073163; }

/* ==========================================================================
	#pjCpbExtras
========================================================================== */
#pjWrapper .pjCpbExtras { border-color: #ded8d8; }
#pjWrapper .pjCpbExtras .pjCpbExtrasTitle { color: #073163; }
#pjWrapper .pjCpbExtra { border-color: #ded8d8; }

#pjWrapper .pjCpbExtraTitle { color: #6789af; }
#pjWrapper .pjCpbExtraPrice { color: #4c4e4d; }
#pjWrapper .pjCpbExtraPrice strong { color: #d02020; }

#pjWrapper .pjCpbExtra .pjCpbListTicks li { color: #4c4e4d; }

#pjWrapper .pjCpbExtra select { border-color: #bebabb; background: #fff; color: #4c4e4d; }

/* ==========================================================================
	#pjCpbFormConfirm
========================================================================== */
#pjWrapper .pjCpbFormConfirm { border-color: #ded8d8; }
#pjWrapper .pjCpbFormConfirm .form-control:focus { border-color: #073163; -webkit-box-shadow: 0 0 10px rgba(7, 49, 99, .3); box-shadow: 0 0 10px rgba(7, 49, 99, .3); }

#pjWrapper .pjCpbFormConfirm .pjCpbFormSection { border-color: #ded8d8; }

#pjWrapper .pjCpbFormConfirmTitle { color: #073163; }
#pjWrapper .pjCpbFormConfirm .pjCpbFormSection .pjCpbFormSectionTitle { color: #6789af; }

#pjWrapper .pjCpbFormSectionFinal p { color: #4c4e4d; }
#pjWrapper .pjCpbFormSectionFinal .pjCpbFinalPrice strong { color: #d02020; }
#pjWrapper .pjCpbFormSectionFinal .pjCpbFinalPrice small { color: #6789af; }

#pjWrapper .pjCpbFormConfirm dt { color: #4c4e4d; }
#pjWrapper .pjCpbFormConfirm dd { color: #073163; }

/* ==========================================================================
	#pjCpbFooter
========================================================================== */
#pjWrapper .pjCpbFooter { border-color: #ded8d8; background: #f7f7f7; }