/* ==========================================================================
	#Buttons
========================================================================== */
#pjWrapper .pjCpbBtnPrimary,
#pjWrapper .pjCpbBtnSecondary { border: 0; border-bottom: solid 2px; }
#pjWrapper .pjCpbBtnPrimary { border-color: #77a63e; background: #9acf5b; color: #fff; }
#pjWrapper .pjCpbBtnPrimary:hover { border-color: #77a63e; background: #77a63e; color: #fff; }

#pjWrapper .pjCpbBtnSecondary { border-color: #56ae71; background: #56ae71; color: #d66e3b; }
#pjWrapper .pjCpbBtnSecondary:hover { border-color: #56ae71; background: #56ae71; color: #bd5726; }

/* ==========================================================================
	#pjCpbContainer
========================================================================== */
#pjWrapper .pjCpbContainer { color: #4d4d4d; }

/* ==========================================================================
	#pjCpbPanel
========================================================================== */
#pjWrapper .pjCpbPanel { border-color: #e6e6e6; }

/* ==========================================================================
	#pjCpbHead
========================================================================== */
#pjWrapper .pjCpbContainer .pjCpbHead { border-color: #e6e6e6; background: #f8f8f6; }
#pjWrapper .pjCpbHead .pjCpbTitle { color: #56ae71; font-weight: bold; text-transform: uppercase; }

/* ==========================================================================
	#pjCpbLanguage
========================================================================== */
#pjWrapper .pjCpbBtnLanguage { border: 0; border-bottom: 2px solid #d7dacf; background: #e3e3e1; color: #77a63e; font-weight: bold; text-transform: uppercase; }
#pjWrapper .pjCpbLanguage.open .pjCpbBtnLanguage,
#pjWrapper .pjCpbBtnLanguage:active,
#pjWrapper .pjCpbBtnLanguage:hover { border: 0; border-bottom: 2px solid #d7dacf; background: #d7dacf; color: #56ae71; }

#pjWrapper .pjCpbLanguageOptions { border-color: #77a63e; background: #e3e3e1; }
#pjWrapper .pjCpbLanguageOptions a { color: #56ae71; }
#pjWrapper .pjCpbLanguageOptions a:hover,
#pjWrapper .pjCpbLanguageOptions .pjCpbBtnActive { background: #77a63e; color: #fff; }

/* ==========================================================================
	#pjCpbBody
========================================================================== */
#pjWrapper .pjCpbBody { background: #e3e3e1; }

/* ==========================================================================
	#pjCpbForm
========================================================================== */
#pjWrapper .pjCpbDatePicker .input-group-addon,
#pjWrapper .pjCpbTimePicker .input-group-addon { background: #fff; color: #77a63e; }
#pjWrapper .pjCpbDatePicker .input-group-addon:hover,
#pjWrapper .pjCpbTimePicker .input-group-addon:hover { color: #9acf5b; }

/* ==========================================================================
	#pjCpbFormSort
========================================================================== */
#pjWrapper .pjCpbFormSort label { color: #56ae71; }
#pjWrapper .pjCpbFormSort .form-control { border-color: #bebabb; color: #6d6d6d; }
#pjWrapper .pjCpbFormSort .form-control:focus { border-color: #56ae71; -webkit-box-shadow: 0 0 10px rgba(86, 174, 113, .3); box-shadow: 0 0 10px rgba(86, 174, 113, .3); }

/* ==========================================================================
	#pjCpbFromPrev
========================================================================== */
#pjWrapper .pjCpbFromPrev { color: #4d4d4d; }
#pjWrapper .pjCpbFromPrev .btn-link { color: #56ae71; }

/* ==========================================================================
	#pjCpbSpaces
========================================================================== */
#pjWrapper .pjCpbSpace { border-color: #d7dacf; background: #e3e3e1; }
#pjWrapper .pjCpbSpace .well { border: 1px solid #eef0ef; background: #fff; -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .2); box-shadow: 0 2px 3px rgba(0, 0, 0, .2); }
#pjWrapper .pjCpbSpaceTitle { color: #77a63e; }
#pjWrapper .pjCpbSpaceTitle.disabled { color: #4d4d4d; }
#pjWrapper .pjCpbSpacePrice { color: #4d4d4d; }
#pjWrapper .pjCpbSpacePrice strong { color: #56ae71; }
#pjWrapper .pjCpbSpaceDisabled .pjCpbSpacePrice { color: #4d4d4d; }
#pjWrapper .pjCpbSpace > p { color: #4d4d4d; }
#pjWrapper .pjCpbSavePrice { color: #77a63e; }

/* ==========================================================================
	#pjCpbExtras
========================================================================== */
#pjWrapper .pjCpbExtras { border-color: #d7dacf; background: #e3e3e1; }
#pjWrapper .pjCpbExtras .pjCpbExtrasTitle { color: #56ae71; }
#pjWrapper .pjCpbExtra { border-color: #d7dacf; background: #e3e3e1; }

#pjWrapper .pjCpbExtraTitle { color: #77a63e; }
#pjWrapper .pjCpbExtraPrice { color: #4d4d4d; }
#pjWrapper .pjCpbExtraPrice strong { color: #56ae71; }
#pjWrapper .pjCpbExtra .pjCpbListTicks li { color: #4d4d4d; }
#pjWrapper .pjCpbExtra select { border-color: #bebabb; background: #fff; color: #4d4d4d; }

/* ==========================================================================
	#pjCpbFormConfirm
========================================================================== */
#pjWrapper .pjCpbFormConfirm { border-color: #d7dacf; background: #e3e3e1; }
#pjWrapper .pjCpbFormConfirm .form-control:focus { border-color: #56ae71; -webkit-box-shadow: 0 0 10px rgba(86, 174, 113, .3); box-shadow: 0 0 10px rgba(86, 174, 113, .3); }

#pjWrapper .pjCpbFormConfirm .pjCpbFormSection { border-color: #d7dacf; background: #e3e3e1; }

#pjWrapper .pjCpbFormConfirmTitle { color: #56ae71; }
#pjWrapper .pjCpbFormConfirm .pjCpbFormSection .pjCpbFormSectionTitle { color: #77a63e; }

#pjWrapper .pjCpbFormSectionFinal p { color: #4d4d4d; }
#pjWrapper .pjCpbFormSectionFinal .pjCpbFinalPrice strong { color: #56ae71; }
#pjWrapper .pjCpbFormSectionFinal .pjCpbFinalPrice small { color: #4d4d4d; }

#pjWrapper .pjCpbFormConfirm dt { color: #4d4d4d; }
#pjWrapper .pjCpbFormConfirm dd { color: #56ae71; }

/* ==========================================================================
	#pjCpbFooter
========================================================================== */
#pjWrapper .pjCpbFooter { border-color: #d7dacf; background: #e3e3e1; }